@import "@/scss/abstracts/variables";
@import "@/scss/abstracts/placeholders";

.container {
  @extend %container;
}

.header {
  @extend %box-inset;

  padding: $gap;
  margin-top: $gap;
  overflow: hidden;
  position: relative;
  display: flex;
  gap: $gap;
  align-items: center;
  justify-content: space-between;
}

.label {
  @extend %font-header;

  pointer-events: none;

  &::before {
    @extend %button-round;

    content: "";
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    min-width: 1.6rem;
    margin-right: calc($gap / 2);
  }
}
