@import '@/scss/abstracts/variables';
@import '@/scss/abstracts/placeholders';

.todo {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.todo:not(.todo_child) {
  @extend %box-small-shadow;

  padding: $gap;
  margin-top: $gap;
  overflow: hidden;

  i {
    display: none;
  }
}

.todo_child {
  flex: 1 1 100%;
  box-sizing: border-box;
  padding-left: calc($gap / 1.5);

  button {
    @extend %button-round-small;
  }

  span {
    width: calc(100% - 5rem);
    max-height: 5rem;
    margin-top: -1.3rem;
    left: 1.5rem;
    gap: 2rem;
    padding: 0 2rem;

    button:not(:last-child) {
      font-size: 1.2rem !important;
    }

    input {
      min-height: 2.6rem;
    }
  }

  u {
    width: 2.4rem;
    height: 2.4rem;

    b {
      font-size: 1rem;
      top: -0.2rem;
    }
  }

  i {
    display: block !important;
    width: 1.1rem;
    left: 0.7rem;
    top: 1.2rem;
    height: 1px;
    border-top: 1px dotted $secondary-shadow-button;
    position: absolute;
    opacity: 0.5;
  }

  &:nth-child(8):after {
    content: '';
    width: 1px;
    height: 400%;
    left: 0.7rem;
    top: -3rem;
    border-left: 1px dotted $secondary-shadow-button;
    position: absolute;
    opacity: 0.5;
  }

  &:last-child:before {
    content: '';
    width: 1rem;
    height: calc(100% + 1.8rem);
    background: $primary-bg-color;
    position: absolute;
    left: 0;
    top: 1.3rem;
    z-index: 1;
    opacity: 1;
    border: 0;
  }
}

.label {
  @extend %font;

  max-width: 75%;
  display: flex;
  align-items: center;
  margin-right: auto;
  pointer-events: none;

  div {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &::before {
    @extend %mark;
    position: relative;
    z-index: 1;
  }

  .todo_done > & {
    color: $positive-font-color;
    text-decoration: line-through;
  }

  .todo_done > &::before {
    @extend %mark-positive;
  }
}
