@import '@/scss/abstracts/variables';
@import '@/scss/abstracts/placeholders';

.creation {
  @extend %box-inset;

  width: calc(100% - $gap * 2);
  height: 100%;
  min-height: 5rem;
  padding: 0 $gap;

  display: flex;
  gap: $gap;
  align-items: center;
  justify-content: space-between;
}

.creation,
.exit,
.exit_done,
.exit_active,
.enter,
.enter_done,
.enter_active {
  position: absolute;
  top: -100%;
  left: 0;
  opacity: 0;
  z-index: 4;
  visibility: hidden;
  will-change: top, opacity, visibility;
  transition: top 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}
.enter_done,
.enter_active {
  visibility: visible;
  opacity: 1;
  top: 0;
}

.button {
  @extend %button-round;
}

.new {
  @extend %button-positive;
}

.delete,
.done {
  @extend %button-negative;
}
