@import '@/scss/abstracts/variables';

%container {
  padding: 0 $gap;
  margin: 0 auto;
  width: 100%;
  max-width: $max-width;
  box-sizing: border-box;
}

%box {
  border-radius: $radius;
  background: $primary-bg-color;
  box-shadow: calc($radius * 0.4) calc($radius * 0.4) calc($radius * 1.2) $primary-shadow,
    calc($radius * -0.4) calc($radius * -0.4) calc($radius * 1.2) $secondary-shadow;
}

%box-inset {
  @extend %box;
  background: linear-gradient(145deg, $primary-shadow-inset, $secondary-shadow);
}

%box-shadow {
  @extend %box;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
  background: linear-gradient(145deg, $primary-shadow-button, $primary-shadow-inset);
}

%button {
  @extend %box-shadow;
  @extend %font;

  padding: 1.3rem $gap 1.2rem;
  font-size: 1.4rem !important;
  text-transform: uppercase;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  box-shadow: 0 0 1rem 0 $secondary-shadow-button;

  &:hover {
    box-shadow: 0 0 1rem 0.2rem $secondary-shadow-button;
  }
}

%button-round {
  @extend %button;
  @extend %font-header;

  font-size: 2.4rem !important;
  padding: 0;
  height: 4rem;
  width: 4rem;
  min-width: 4rem;
}

%button-round-small {
  font-size: 1.6rem !important;
  height: 2.4rem;
  width: 2.4rem;
  min-width: 2.4rem;
}

%button-selected {
  @extend %button;

  background: linear-gradient(145deg, $primary-shadow-button, $selected-shadow-button);
  box-shadow: 0 0 1rem 0rem $secondary-shadow-button;

  cursor: default;
  pointer-events: none;
}

%button-positive {
  @extend %button;

  background: linear-gradient(145deg, $primary-shadow-button, $positive-shadow-button);
  box-shadow: 0 0 1rem 0rem $secondary-shadow-button;
}

%button-negative {
  @extend %button;

  background: linear-gradient(145deg, $primary-shadow-button, $negative-shadow-button);
  box-shadow: 0 0 1rem 0rem $secondary-shadow-button;
}

%font {
  font-size: 1.6rem;
  font-weight: 400;
  color: $primary-font-color;
}

%font-header {
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $primary-font-color;
}

%mark {
  @extend %button-round;

  content: '';
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  min-width: 1.6rem;
  margin-right: calc($gap / 2);
}

%mark-positive {
  @extend %button-positive;
  @extend %mark;
}
