@import "@/scss/abstracts/mixins";
@import "@/scss/abstracts/varibales";
@import "@/scss/abstracts/placeholders";

.container {
  @extend %container;
}

.filters,
.header {
  @extend %box-inset;

  display: flex;
  gap: $gap;
  align-items: center;
  justify-content: space-between;

  margin-top: $gap;
  padding: $gap;
}

.label {
  @extend %font-header;

  pointer-events: none;

  &::before {
    @extend %button-round;

    content: "";
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: calc($gap / 2);
  }
}

.filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: $gap;

  // .filters__search
  &__search {
    flex: 1 1 calc(50% - $gap / 2);
    display: flex;
    gap: $gap;

    // .filters__search input
    input {
      flex: 1;
    }
  }
  // .filters__options
  &__options {
    flex: 1 1 calc(50% - $gap / 2);
    display: flex;
    justify-content: flex-end;
    gap: $gap;

    @include media-notebook {
      flex: 1 1 100%;
      justify-content: center;
    }
  }
}

.selected {
  @extend %button-selected;
}

.add {
  @extend %button-round;
}
