@import "@/scss/abstracts/variables";
@import "@/scss/abstracts/placeholders";

.todos {
  @extend %box;

  margin-top: calc($gap * 2);
  padding: $gap;
}

.empty {
  @extend %font-header;

  padding: $gap;
  text-align: center;
}
