@import "@/scss/abstracts/variables";
@import "@/scss/abstracts/placeholders";

.todos {
  padding-top: $gap;
}

.empty {
  @extend %box;
  @extend %font-header;

  padding: $gap;
  margin-top: $gap;
  text-align: center;
}
