// bg colors
$primary-bg-color: #cbdbfb;

// font clors
$primary-font-color: #192e57;

// shadows
$primary-shadow: #adbad5;
$secondary-shadow: #e9fcff;
$primary-shadow-inset: #b7c5e2;

// sizes
$gap: 3rem;
$radius: 5rem;
$max-width: 120rem;
