@import '@/scss/abstracts/variables';
@import '@/scss/abstracts/placeholders';

.todos {
  padding: $gap 0;
}

.empty {
  @extend %box;
  @extend %font-header;

  padding: $gap;
  margin-top: $gap;
  text-align: center;
}
